<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
	<title>Assignment 1</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">
		#divi1{
			color: red;
			font-size: 18px;
		}
		#divi2{
			color: green;
			font-size: 18px;
		}
		input{
			width: 300px;
			height: 34px;
			border-radius: 50px;
			border: none;
			border: 1px solid black;
			outline: none;
			padding-left: 10px;

		}
		button{
			width: 150px;
			height: 40px;
			font-weight: bold;
		}
	</style>
</head>
<body>
<div ng-controller="LunchCheckController">
	<h1>Lunch Checker</h1>
	<input type="text" name="lunch" ng-model="lunch" placeholder="Please enter data with comma separated"><br><br>
	<button ng-click="checkLunch()">Check If Too Much</button>
	<div id="divi1">{{message1}}</div>
	<div id="divi2">{{message2}}</div>
</div>
</body>
</html>